<%= nested_form_for @provider, :class => "form-horizontal" do |f| %>
  <% if @provider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@provider.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @provider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<fieldset>
      <legend>Prestadores</legend>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Nome*</label>
        <div class="controls">
          <%= f.text_field :name%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Tipo*</label>
        <div class="controls">
          <%= f.select :kind, Provider::KIND_LIST%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Nome do resposável</label>
        <div class="controls">
          <%= f.text_field :contact_name%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Email do Responsável</label>
        <div class="controls">
          <%= f.text_field :contact_email%>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Usuário do Responsável</label>
        <div class="controls">
          <%= f.collection_select :user_contact_id, @users, :id, :name, {include_blank: true}, {:class => "span12"}%>
        </div>
      </div>
      <%= f.hidden_field :enterprise_id, :value => current_user.enterprise_id%>
      <h4> Contatos </h4>
      <hr>
      <%= f.fields_for :provider_contacts do |contact| %>
        <div class="row-fluid">
	      <div class="span2">
		    <div class="control-group">
		        <label class="control-label" for="focusedInput">Nome*</label>
		        <div class="controls">
		          <%= contact.text_field :contact_name, :class => "span12"%>	          
		        </div>
		    </div>
		  </div>
		  <div class="span2">
			<div class="control-group">
		        <label class="control-label" for="focusedInput">Departamento</label>
		        <div class="controls">
		          <%= contact.text_field :contact_department, :class => "span12"%>	          
		        </div>
		    </div>
		  </div>
		  <div class="span3">
			<div class="control-group">
		        <label class="control-label" for="focusedInput">Email</label>
		        <div class="controls">
		          <%= contact.text_field :contact_email, :class => "span12"%>	          
		        </div>
		    </div>
		  </div>
		  <div class="span1">
			<div class="control-group">
		        <label class="control-label" for="focusedInput">DDD</label>
		        <div class="controls">
		          <%= contact.text_field :phone_area, :class => "span12"%>	          
		        </div>
		    </div>		    
		   </div>
		   	<div class="span2">
				<div class="control-group">
			        <label class="control-label" for="focusedInput">Telefone*</label>
			        <div class="controls">
			          <%= contact.text_field :phone_number, :class => "span12"%>	          
			        </div>
			    </div>
			</div>
			<div class="span1">
				<div class="control-group">
			        <label class="control-label" for="focusedInput">Ramal</label>
			        <div class="controls">
			          <%= contact.text_field :phone_extension, :class => "span12"%>	          
			        </div>
			    </div>
			</div>
			<div class="span1">
				<div class="control-group">
			        <label class="control-label" for="focusedInput">Remover</label>
			        <div class="controls">
                      <%= contact.link_to_remove "X", :class => "btn btn-danger" %>	          
			        </div>
			    </div>
			</div>
			
	    </div>	    
	    
	  <% end %>
	  <p><%= f.link_to_add "Novo contato", :provider_contacts, :class => "btn" %></p>
    </fieldset>
    <hr>
    <%= f.submit "Salvar", :class => "btn btn-primary btn-large"%> | 
    <%= link_to 'Cancelar', providers_path, :class => "btn btn-danger" %>
  
<% end %>
