<%= form_for @local, :class => "form-horizontal" do |f| %>
  <% if @local.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@local.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @local.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<fieldset>
      <legend>Local</legend>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Nome</label>
        <div class="controls">
          <%= f.text_field :name%>
        </div>
      </div>
      <%= f.hidden_field :enterprise_id, :value => current_user.enterprise_id%>
    </fieldset>
    <hr>
    <%= f.submit "Salvar", :class => "btn btn-primary btn-large"%> | 
    <%= link_to 'Cancelar', locals_path, :class => "btn btn-danger" %>
  
<% end %>
