<div class="row-fluid">
        <div class="span2 action-btn round-all">
        	<%= link_to new_local_path do %>
                <div><i class="icon-pencil"></i></div>
                <div><strong>Novo</strong></div>        	
            <% end %>
        </div>
        
</div>
<div class="row-fluid"> 
	<div class="span12">
	 	 <!-- Portlet: Fancy Portlets -->
	     <div class="box">
	      <h4 class="box-header round-top">Lista de locais
	          <a class="box-btn" title="close"><i class="icon-remove"></i></a>
	          <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
	          <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
	      </h4>         
	      <div class="box-container-toggle">
	          <div class="box-content">
				 <h2>Locais</h2>
	             <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable dataTable" aria-describedby="datatable_info">
		             <thead>
	                      <tr>
	                          <th>#</th>
	                          <th>Descrição</th>
	                          <th>Ações</th>                                          
	                      </tr>
	                  </thead>   
	                  <tbody>
	                    <% @locals.each do |local| %>
					      <tr>
					        <td class="center"><%= local.id %></td>
					        <td> <%= local.name %></td>
					        <td>
					          <%= link_to edit_local_path(local), :class => "btn btn-success" do %>
					            <i class="icon-edit icon-white"></i> Editar
					          <% end %> 
					          <%= link_to local, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
					            <i class="icon-trash icon-white"></i> Excluir
					          <% end %>
					        </td>
					      </tr>
					    <% end %>
	                  </tbody>
	             </table>
	          </div>
	      </div>
	    </div><!--/span-->
	 </div>
</div>
<script>
  applyDataTable();
</script>



