<div class="row-fluid"> 
	<div class="span12">
	 	 <!-- Portlet: Fancy Portlets -->
	     <div class="box">
	      <h4 class="box-header round-top">Mensagens
	          <a class="box-btn" title="close"><i class="icon-remove"></i></a>
	          <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
	          <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
	      </h4>         
	      <div class="box-container-toggle">
	          <div class="box-content">
							<h2>Mensagens</h2>
	            
             <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable dataTable" aria-describedby="datatable_info">
	             <thead>
                      <tr>
                          <th>Data</th>
                          <th>Assunto</th>
                          <th>Ocorrência</th>                                     
                      </tr>
                  </thead>   
                  <tbody>
                    <% @messages.each do |msg| %>
				      <tr>
				        <td> <%= msg.created_at.strftime("%d/%m/%Y %H:%M") %></td>
				        <td> 
									<% if msg.read %>
									  <%= link_to message_path(msg.id) do %> <%= msg.subject %> <% end %>
									<% else %>
									  <b><%= link_to message_path(msg.id) do %> <%= msg.subject %> <% end %></b>
									<% end %>
								</td>
				        <td> <%= link_to "##{msg.occorrence_id}", edit_occorrence_path(msg.occorrence_id) %></td>
				      </tr>
				    <% end %>
                  </tbody>
             </table>
							 
	          </div>
	      </div>
	    </div><!--/span-->
	 </div>
</div>

<script>
  applyDataTable();
</script>




