<div class="row-fluid"> 
	<div class="span12">
	 	 <!-- Portlet: Fancy Portlets -->
	     <div class="box">
	      <h4 class="box-header round-top">Mensagem - <%= @message.created_at.strftime("%d/%m/%Y %H:%M")%>
	          <a class="box-btn" title="close"><i class="icon-remove"></i></a>
	          <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
	          <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
	      </h4>
	     	<div class="box-container-toggle">
               <div class="box-content">
								 <div class="form-vertical">
						 		  <div class="control-group">
						 			<label class="control-label" for="focusedInput">Assunto</label>
						 		    <div class="controls">
						 		      <%= text_field_tag :subject, @message.subject, :readonly => true, :class => "span12"%>
						 		    </div>
						 		  </div>
								  <div class="control-group">
									<label class="control-label" for="focusedInput">Texto</label>
								    <div class="controls">
								      <%= text_area_tag :body, @message.body.html_safe, :readonly => true, :rows => 10, :class => "span12"%>
								    </div>
								  </div>
							    <hr>
							    <%= link_to 'Voltar', messages_path, :class => "btn" %> | 
									<%= link_to 'Ocorrência', edit_occorrence_path(@message.occorrence_id), :class => "btn"%>
								 </div>
	           </div>
	        </div>
	      </div>
    </div>
</div>