
<div id="topo" style="height: 250px">
	<div style="width:260px; height:185px; margin:36px; float:left;">
		<a href="#" title="Sentinelle" target="_self"><%= image_tag "logo.png", width: "260", height: "185", alt: "Sentinelle" %></a>
	</div>
  	<div id="logo_nome">
	  <p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; color:#A0BCCB; font-size:80px;">
		Sentinelle
	  </p>
	</div>
</div>

<div id="corpo">
	<div class="menu" style="margin-left:30px;">
		<div style="float:left;" class="menu_pequeno">
			<a href="#" title="Contato" target="_self">
				<%= image_tag "contato.png", width: "100", height: "100"%>
			</a>
		</div>
        <div style="float:left; margin-left:7px;" class="menu_pequeno">
	        <a href="#" title="Site" target="_self">
		        <%= image_tag "site.png", width: "100", height: "100"%>
		    </a>
	    </div>
        <div class="menu_grande">
	        <%= image_tag "homem.png", width: "207", height: "100"%>
	    </div>
	</div>
    <div id="login">
        <%= form_for :session, :html => {:class => "form"}, :url => session_path do |form| %>
            <div id="login_box_1">
	            <p style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; color:#3C6B81; font-size:35px; padding:5px 0 0 15px;">
		          Login
		          </p>
		        </div>
            <div id="login_box_2">
                <%= form.text_field :email, :type => "username",  :style => "height:29px; background-color:#124964; border:solid 1px; border-color:#4A768A; color:#4A768A; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; margin:22px 0 0px 22px; padding:7px; width:75%", :placeholder => 'email', :maxlength => "100"%>
                <%= form.password_field :password, 	 :style => "height:29px; background-color:#124964; border:solid 1px; border-color:#4A768A; color:#4A768A; font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:20px; margin:22px 0 15px 22px; padding:7px; width:75%", :placeholder => 'senha', :maxlength => "100" %>
            </div>                        
            <div id="login_box_1">
	            <input id="login_buttom" name="" type="submit" value="" style="background-image: url(<%= image_path('button.png') %>);" />
	          </div>
        <% end %>
    </div>
</div>
