<%= nested_form_for @group, :class => "form-horizontal" do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:target => @group} %>
  	<fieldset>
      <legend>Grupo</legend>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Nome</label>
        <div class="controls">
          <%= f.text_field :name%>
        </div>
      </div>
      <%= f.hidden_field :enterprise_id, :value => current_user.enterprise_id%>
      <h4> Subgrupos </h4>
      <hr>
      <%= f.fields_for :subgroups do |sg| %>
      	<div class="control-group">
	        <label class="control-label" for="focusedInput">Nome</label>
	        <div class="controls">
	          <%= sg.text_field :name%>
	          <%= sg.link_to_remove "X", :class => "btn btn-danger" %>
	        </div>
	    </div>
	  <% end %>
	  <p><%= f.link_to_add "Novo subgrupo", :subgroups, :class => "btn" %></p>
	
    </fieldset>
    <hr>
    <%= f.submit "Salvar", :class => "btn btn-primary btn-large"%> | 
    <%= link_to 'Cancelar', groups_path, :class => "btn btn-danger" %>
  
<% end %>