<% if target.errors.any? %>
  <div id="error_explanation" class="alert alert-error">
      <h2><%=  t("errors.template.header", count: target.errors.count, model: t("activerecord.models.#{target.class.to_s.parameterize.underscore}")) %>:</h2>
      <ul>
      <% target.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
  </div>
<% end %>