<%= f.fields_for :occorrence_assets do |asset| %>
  <div class="row-fluid">
    <div class="span4">
	    <div class="control-group">
	        <label class="control-label" for="focusedInput">Ativo*</label>
	        <div class="controls">
						<%= asset.autocomplete_field :asset_name, autocomplete_asset_name_assets_path, :class => "span12", :update_elements => {:id => form_tag_id(asset.object_name, :asset_id)}%>
						<%= asset.hidden_field :asset_id%>
	        </div>
	    </div>
	</div>
	<div class="span7">
	    <div class="control-group">
	        <label class="control-label" for="focusedInput">Descrição*</label>
	        <div class="controls">
	          <%= asset.text_field :description, :class => "span12" %>
	        </div>
	    </div>
	</div>
	<div class="span1">
		<div class="control-group">
	        <label class="control-label" for="focusedInput">Remover</label>
	        <div class="controls">
              <%= asset.link_to_remove "X", :class => "btn btn-danger" %>	          
	        </div>
	    </div>
	</div>
  </div>
<% end %>

<p><%= f.link_to_add "Novo ativo", :occorrence_assets, :class => "btn" %></p>