<%= nested_form_for @occorrence, :class => "form-horizontal" do |f| %>
  <% if @occorrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occorrence.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @occorrence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<fieldset>
      <legend>Ocorrência <%= @occorrence.status_label.html_safe%></legend>
      <%= f.hidden_field :enterprise_id, :value => current_user.enterprise_id%>
      <div class="row-fluid">
	    <div class="span2">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Data</label>
		    <div class="controls">
		      <%= f.text_field :occorrence_date, :class => "span12 datepicker"%>
		    </div>
		  </div>
		</div>
		<div class="span6">
			<div class="control-group">
			  <label class="control-label" for="focusedInput">Solicitante</label>
			  <div class="controls">
				<%= f.autocomplete_field :requestor_name, autocomplete_user_name_occorrences_path, :update_elements => {:id => form_tag_id(f.object_name, :user_requestor_id)}, :class => "span12"%>
				<%= f.hidden_field :user_requestor_id%>
			  </div>
			</div>
		</div>
		<div class="span4">
			<div class="control-group">
			  <label class="control-label" for="focusedInput">Local</label>
			  <div class="controls">
				<%= f.collection_select :local_id, @locals, :id, :name, {include_blank: true}, {:class => "span12"} %>
			  </div>
			</div>
		</div>
	  </div>
	  <div class="row-fluid">
	    <div class="span12">
		  <div class="control-group">
		    <label class="control-label" for="focusedInput">Descrição</label>
		    <div class="controls">
		      <%= f.text_area :description, :class => "span12", :rows => 8%>
		    </div>
		  </div>
		</div>
	  </div>
	  <div class="row-fluid">
		<div class="span4">
			<div class="control-group">
				<label class="control-label" for="focusedInput">Responsável</label>
			    <div class="controls">
			      <%= f.collection_select :provider_id, @providers, :id, :name, {include_blank: true}, {:class => "span12"} %>
			    </div>
			</div>
		</div>
		<div class="span4">
			<div class="control-group">
				<label class="control-label" for="focusedInput">Previsão de reparo</label>
			    <div class="controls">
			      <%= f.text_field :scheduled, :class => "span12 datepicker"%>
			    </div>
			</div>
		</div>
	  </div>
    </fieldset>
    <hr>
    <%= f.submit "Salvar", :class => "btn btn-primary btn-large"%> | 
    <%= link_to 'Cancelar', occorrences_path, :class => "btn btn-danger" %>
  
<% end %>


<script>
  applyDatePicker();
</script>