<div class="row-fluid">
        <div class="span2 action-btn round-all">
        	<%= link_to new_occorrence_path do %>
                <div><i class="icon-pencil"></i></div>
                <div><strong>Novo</strong></div>        	
            <% end %>
        </div>
        
</div>
<div class="row-fluid"> 
	<div class="span12">
	 	 <!-- Portlet: Fancy Portlets -->
	     <div class="box">
	      <h4 class="box-header round-top">Lista de ocorrências
	          <a class="box-btn" title="close"><i class="icon-remove"></i></a>
	          <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
	          <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
	      </h4>         
	      <div class="box-container-toggle">
	          <div class="box-content">
				 <h2>Ocorrências</h2>
	             <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered bootstrap-datatable dataTable" aria-describedby="datatable_info">
		             <thead>
	                      <tr>
	                          <th>#</th>
	                          <th>Data</th>
	                          <th>Status</th>
	                          <th>Local</th>
	                          <th>Solicitante</th>
	                          <th>Ações</th>                                          
	                      </tr>
	                  </thead>   
	                  <tbody>
	                    <% @occorrences.each do |occorrence| %>
					      <tr>
					        <td class="center"><%= occorrence.id %></td>
					        <td> <%= occorrence.occorrence_date %></td>
					        <td> <%= occorrence.status_label.html_safe %></td>
					        <td> <%= occorrence.local.name %></td>
					        <td> <%= occorrence.requestor_name %></td>
					        <td>
					          <%= link_to edit_occorrence_path(occorrence), :class => "btn btn-success" do %>
					            <i class="icon-edit icon-white"></i> Editar
					          <% end %>
					          <%= link_to execution_occorrence_path(occorrence), :class => "btn btn-success" do %>
					            <i class="icon-edit icon-white"></i> Executar
					          <% end %>
					          <%= link_to close_occorrence_path(occorrence), :method => :put, :class => "btn btn-success" do %>
					            <i class="icon-edit icon-white"></i> Encerrar
					          <% end %>
					          <%= link_to occorrence, :class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } do %>
					            <i class="icon-trash icon-white"></i> Cancelar
					          <% end %>
					        </td>
					      </tr>
					    <% end %>
	                  </tbody>
	             </table>
	          </div>
	      </div>
	    </div><!--/span-->
	 </div>
</div>

<script>
  applyDataTable();
</script>




