<div class="row-fluid"> 
	<div class="span12">
	 	 <!-- Portlet: Fancy Portlets -->
	     <div class="box">
	      <h4 class="box-header round-top">Nova ocorrência
	          <a class="box-btn" title="close"><i class="icon-remove"></i></a>
	          <a class="box-btn" title="toggle"><i class="icon-minus"></i></a>     
	          <a class="box-btn" title="config" data-toggle="modal" href="#box-config-modal"><i class="icon-cog"></i></a>
	      </h4>
	     	<div class="box-container-toggle">
               <div class="box-content">
	              <%= render 'form' %>
	           </div>
	        </div>
	      </div>
    </div>
</div>