<%= nested_form_for @asset, :class => "form-horizontal" do |f| %>
  <%= render :partial => "shared/error_messages", :locals => {:target => @asset} %>
  <fieldset>
      <legend>Ativo</legend>
      <div class="row-fluid">
	    <div class="span2">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Tombamento</label>
		    <div class="controls">
		      <%= f.text_field :number_of_equity, :class => "span12"%>
		    </div>
		  </div>
		</div>
	    <div class="span8">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Nome*</label>
		    <div class="controls">
		      <%= f.text_field :name, :class => "span12"%>
		    </div>
		  </div>
		</div>		
		<div class="span2">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Data de aquisição</label>
		    <div class="controls">
		      <%= f.text_field :acquisition_date, :class => "span12 datepicker"%>
		    </div>
		  </div>
		</div>
	  </div>
	  <div class="row-fluid">
		<div class="span4">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Grupo*</label>
		    <div class="controls">
		      <%= f.collection_select :group_id, @groups, :id, :name, {include_blank: true}, {:class => "span12", :onchange => "load_subgroups()"}%>
		    </div>
		  </div>
		</div>
		<div class="span4">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Subgrupo*</label>
		    <div class="controls">
		      <%= f.collection_select :subgroup_id, [], :id, :name, {include_blank: true}, {:class => "span12"}%>
		    </div>
		  </div>
		</div>
		<div class="span4">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Local</label>
		    <div class="controls">
		      <%= f.collection_select :local_id, @locals, :id, :name, {include_blank: true}, {:class => "span12"}%>
		    </div>
		  </div>
		</div>
	  </div>
	  <div class="row-fluid">
		<div class="span12">
		  <div class="control-group">
		    <label class="control-label" for="focusedInput">Descrição</label>
			<div class="controls">
			  <%= f.text_area :description, :class => "span12"%>
			</div>
		  </div>
		</div>
	  </div>
      
      <%= f.hidden_field :enterprise_id, :value => current_user.enterprise_id%>
      <h4>Assitência técnica e garantia</h4>
      <hr>
      <div class="row-fluid">
	    <div class="span5">
		  <div class="control-group">
		    <label class="control-label" for="focusedInput">Ass. técnica</label>
			<div class="controls">
			  <%= f.collection_select :provider_technical_assistance_id, @providers, :id, :name, {include_blank: true}, {:class => "span12"}%>
			</div>
		  </div>
		</div>
		<div class="span5">
		  <div class="control-group">
		    <label class="control-label" for="focusedInput">Garantia</label>
			<div class="controls">
			  <%= f.collection_select :provider_warranty_id, @providers, :id, :name, {include_blank: true}, {:class => "span12"}%>
			</div>
		  </div>
		</div>
		<div class="span2">
		  <div class="control-group">
			<label class="control-label" for="focusedInput">Data da garantia</label>
		    <div class="controls">
		      <%= f.text_field :acquisition_date, :class => "span12 datepicker"%>
		    </div>
		  </div>
		</div>
	  </div>
	  <h4>Especificações técnicas</h4>
      <hr>
      <div class="row-fluid">
		<div class="span12">
		  <div class="control-group">
		    <label class="control-label" for="focusedInput">Descrição</label>
			<div class="controls">
			  <%= f.text_area :technical_specifications, :class => "span12", :rows => 5%>
			</div>
		  </div>
		</div>
	  </div>
    </fieldset>
    <hr>
    <%= f.submit "Salvar", :class => "btn btn-primary btn-large"%> | 
    <%= link_to 'Cancelar', groups_path, :class => "btn btn-danger" %>
  
<% end %>


<script>
  function load_subgroups(){
  	var group_id = $("#asset_group_id").val();
  	$.ajax({
  		type: "GET",
  		dataType: "json",
  		url: "/groups/" + group_id + "/subgroups_by_group"
  	}).done(function( json ) {
  		var options = "";
        $.each(json, function(key, value){
        	options += '<option value="' + value.id + '">' +  value.name + '</option>';
        });
        $("#asset_subgroup_id").html(options);
  	});
  };

  <% unless @asset.new_record? %>
    load_subgroups();
  <% end %>
  applyDatePicker();
</script>