@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td {

margin: 0;
padding: 0;
border: 0;
outline: 0;
font-weight: inherit;
font-style: inherit;
font-size: 100%;
font-family: inherit;
vertical-align: baseline;


}



body{height:100%;
height:auto;
background-color:#186185;}

:focus {
outline: 0;

}

table {
border-collapse: separate;
border-spacing: 0;
}

caption, th, td {

text-align: left;
font-weight: normal;

}

a img, iframe {
border: none;

}

ol, ul {
list-style: none;

}

input, textarea, select, button {
font-size: 100%;
font-family: inherit;
}

select {
	margin: inherit;

}

/* Fixes incorrect placement of numbers in ol's in IE6/7 */

ol { margin-left:2em; }
/* == clearfix == */

.clearfix:after {
content: ".";
display: block;
height: 0;
clear: both;
visibility: hidden;
}

.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}
.clearfix {display: block;}


#topo{width:100%;
	  height:105px;
	  float:left;
	  background-color: #155474;
	  margin-bottom: 100px;
	}
	
#corpo{width:100%;
	height:100%;
	height:auto;
	min-height:400px;
	float:left;
	}
	
	
#logo_nome{margin-top:60px;}


.menu{width:207px;
		height:100%;		
	
		float:left;}
		
.menu_pequeno{width:100px;
			  height:100px;
			  margin-bottom:7px;
			
		
}

.menu_grande{width:207px;
			  height:100px;
			  margin-bottom:7px;
			 
			 
}

#login{
	width:440px;
	height:100%;
	float:right;
	margin-right:30px;
	}
	
#login_box_1{width:440px;
			height:60px;
			background-color:#124964;
			margin-bottom:7px;
}
	
#login_box_2{width:440px;
			height:150px;
			background-color:#124964;
			margin-bottom:7px;
}

#login_buttom{
	background-color: transparent; 
	width:32px;
	height:32px; 
	border:none; 
	cursor:pointer; 
	float:right; 
	margin: 15px 15px 0 0;
}




#rodape{width:400px; height:200px; margin:30px 0 0 30px; color:#9FB8CB;}

#hora{width:100%; height:60px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:80px; float:left;}
#data{width:100%; height:40px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:30px; float:left; margin:30px 0 0 0;}



