<%= nested_form_for @plan, :class => "form-horizontal" do |f| %>
  <% if @plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this local from being saved:</h2>

      <ul>
      <% @plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  	<fieldset>
      <legend>Plano de manutenção</legend>
			<%= f.hidden_field :enterprise_id, :value => current_user.enterprise_id%>
      <div class="control-group">
        <label class="control-label" for="focusedInput">Nome</label>
        <div class="controls">
          <%= f.text_field :name%>
        </div>
      </div>
			<h4>Atividades</h4>
			<%= f.fields_for :plan_activities do |activity| %>
			<div class="row-fluid">
				<div class="span5">
			    <div class="control-group">
			        <label class="control-label" for="focusedInput">Descrição*</label>
			        <div class="controls">
			          <%= activity.text_field :name, :class => "span12" %>
			        </div>
			    </div>
				</div>
				<div class="span2">
			    <div class="control-group">
			        <label class="control-label" for="focusedInput">Tipo*</label>
			        <div class="controls">
			          <%= activity.select :kind, options_for_select(PlanActivity::KIND_LIST, activity.object.kind), { include_blank: true }, {:class => "span12"} %>
			        </div>
			    </div>
				</div>
				<div class="span2">
			    <div class="control-group">
			        <label class="control-label" for="focusedInput">Unidade*</label>
			        <div class="controls">
			          <%= activity.select :unity, options_for_select(PlanActivity::UNITY_LIST, activity.object.unity), { include_blank: true }, {:class => "span12"} %>
			        </div>
			    </div>
				</div>
				<div class="span2">
			    <div class="control-group">
			        <label class="control-label" for="focusedInput">Valor*</label>
			        <div class="controls">
			          <%= activity.text_field :value, :class => "span12" %>
			        </div>
			    </div>
				</div>
				<div class="span1">
					<div class="control-group">
				        <label class="control-label" for="focusedInput">Remover</label>
				        <div class="controls">
			              <%= activity.link_to_remove "X", :class => "btn btn-danger" %>	          
				        </div>
				    </div>
				</div>
			</div>
			<% end %>
			<p><%= f.link_to_add "Nova atividade", :plan_activities, :class => "btn" %></p>
			<hr>
			<h4>Aplicar em</h4>
			<%= f.fields_for :plan_applications do |app| %>
			<div class="row-fluid">
				<div class="span3">
					<div class="control-group">
						<label class="control-label" for="focusedInput">Grupo</label>
						<div class="controls">
							<%= app.collection_select :group_id, @groups, :id, :name, {include_blank: true}, {:class => "span12 group"}%>
						</div>
					</div>
				</div>
				<div class="span4">
					<div class="control-group">
						<label class="control-label" for="focusedInput">Subgrupo</label>
						<div class="controls">
							<%= app.collection_select :subgroup_id, @subgroups, :id, :name, {include_blank: true}, {:class => "span12"}%>
						</div>
					</div>
				</div>
		    <div class="span4">
			    <div class="control-group">
						<label class="control-label" for="focusedInput">Ativo</label>
			      <div class="controls">
							<%= app.autocomplete_field :asset_name, autocomplete_asset_name_assets_path, :class => "span12", :update_elements => {:id => form_tag_id(app.object_name, :asset_id)}%>
							<%= app.hidden_field :asset_id%>
			      </div>
			    </div>
			  </div>
				<div class="span1">
					<div class="control-group">
				        <label class="control-label" for="focusedInput">Remover</label>
				        <div class="controls">
			              <%= app.link_to_remove "X", :class => "btn btn-danger" %>	          
				        </div>
				    </div>
				</div>
			</div>
			<% end %>
			<p><%= f.link_to_add "Nova aplicação", :plan_applications, :class => "btn" %></p>
			<hr>
    </fieldset>
    <hr>
    <%= f.submit "Salvar", :class => "btn btn-primary btn-large"%> | 
    <%= link_to 'Cancelar', plans_path, :class => "btn btn-danger" %>
  
<% end %>